DELETE FROM users;
INSERT INTO users (email, password, name, role, isActive, createdAt, updatedAt) VALUES ('admin@hostel.edu', 'admin123', 'Dorji Admin', 'ADMIN', 1, datetime('now'), datetime('now'));
INSERT INTO users (email, password, name, role, isActive, createdAt, updatedAt) VALUES ('wangchuk@hostel.edu', 'wangchuk123', 'Wangchuk', 'STUDENT', 1, datetime('now'), datetime('now'));
INSERT INTO users (email, password, name, role, isActive, createdAt, updatedAt) VALUES ('pelden@hostel.edu', 'pelden123', 'Pelden', 'STUDENT', 1, datetime('now'), datetime('now'));
UPDATE users SET rollNumber = '2024001' WHERE email = 'wangchuk@hostel.edu';
UPDATE users SET rollNumber = '2024002' WHERE email = 'pelden@hostel.edu';
UPDATE users SET rollNumber = '2024003' WHERE email = 'sonam@hostel.edu';
